# Monodevelop configuration
*.userprefs
*.pidb
bin
obj
test-results
*.nupkg
*.user
*.suo

# Visual Studio 2015 cache/options directory
.vs/

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/
